.bar{
    display: flex;
    justify-content: space-around;
    width:360px;
    margin-top: 0px;
    background-color: #E3E3E3;
    align-items: center;
}

.imgNav{
    margin-top: 0px;
}

.links{
    display: flex;
    justify-content: center;    
}

.nosotros{
    width: 360px;
    background-color: #323232;
}

.logoMain{
    height: 30px;
}

@media screen and (min-width:768px){
    .bar{
        width: 1311px;
        margin: auto;
    }
    .logoMain{
        height: 40px;
    }
}